<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vision Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Welcome to Vision Analysis</h1>
        <p>Choose an analysis method:</p>
        <div class="menu-options">
            <a href="/real_time" class="button">Real-Time Analysis</a>
            <a href="/upload_page" class="button">Pre-recorded Video Analysis</a>
        </div>
    </div>
</body>
</html>
